/**
 * iFixit Javascript Guide Embed Widget
 * Copyright iFixit 2010
 * @version 0.42
 * @author Nat Welch (nat@ifixit.com)
 */

/* Do some css reseting. Based off of YUI's base.css */
.ifixit-guide a, .ifixit-guide a:visited, .ifixit-guide a:hover {
   color: blue;
}

.ifixit-guide h1 {
   font-size: 138.5%;  
   line-height: 1.2em;
}

.ifixit-guide h2 {
   font-size: 123.4%; 
}

.ifixit-guide h3 {
   font-size: 108%;  
   line-height: 1em;
}

.ifixit-guide h1,
.ifixit-guide h2,
.ifixit-guide h3 {
   margin: 1em 0;
}

.ifixit-guide h1,
.ifixit-guide h2,
.ifixit-guide h3,
.ifixit-guide h4,
.ifixit-guide h5,
.ifixit-guide h6,
.ifixit-guide strong {
   font-family: "Arial","Trebuchet MS","Bitstream Vera Sans",sans-serif;
   line-height: auto;
   font-weight: bold; 
   padding: 0;
   color: black;
   text-decoration: none;
}

.ifixit-guide img, .ifixit-guide img a {
   padding: 0;
   margin: 0;
}

.ifixit-guide abbr,
.ifixit-guide acronym {
   border-bottom: 1px dotted #000;
   cursor: help;
} 

.ifixit-guide em {
   font-style: italic;
}

.ifixit-guide blockquote,
.ifixit-guide dl {
   margin: 1em;
}

.ifixit-guide ol,
.ifixit-guide ul,
.ifixit-guide dl {
   margin-left: 1em;
}

.ifixit-guide ol li {
   list-style: decimal outside;  
}

.ifixit-guide ul li {
   font-size: 0.8em;
}

.ifixit-guide dl dd {
   margin-left: 1em;
}

.ifixit-guide p,
.ifixit-guide fieldset,
.ifixit-guide table {
   margin-bottom: 1em;
}

.ifixit-guide div {
   padding: 0;
   margin: 0;
   line-height: 1em;
}
/***** end base styling */
 
.ifixit-guide-small {
   border: 1px solid #9A9A9A;
   width: 490px;
   height: 290px;
   padding: 4px;
   font-size: 14px;
   font-family: "Arial","Trebuchet MS","Bitstream Vera Sans",sans-serif;
   text-align: left;
   background-color: #FFFFFF;
   line-height: 1em;
   color: black;
   margin: 0;
   position: relative;
}

.ifixit-guide-large {
   border: 1px solid #9A9A9A;
   width: 665px;
   height: 340px;
   padding: 4px;
   font-size: 16px;
   font-family: "Arial","Trebuchet MS","Bitstream Vera Sans",sans-serif;
   text-align: left;
   background-color: #FFFFFF;
   line-height: 1em;
   color: black;
   margin: 0;
}

.ifixit-guide-small #ifixit-tools {
   background-color: #FAFAFA;
   border: 1px solid #9A9A9A;
   height: 253px;
   margin: 5px;
   opacity: 1;
   position: absolute;
   visibility: visible;
   width: 498px;
   left: -6px;
   top: 39px;
}


.ifixit-guide-small #ifixit-tools ul {
   padding-left: 20px;
}

.ifixit-guide-small #ifixit-tools #ifixit-parts-link {
   margin: 3px 6px;
}

.ifixit-guide-small #ifixit-header-text {
   color: black;
   float: left;
   text-transform: capitalize;
   margin-top: 12px;
   padding-left: 12px;
}

.ifixit-guide-large #ifixit-tools {
   background-color: #EEE;
   width: 652px;
   height: 328px;
   margin: 5px;
   border: 1px solid #9A9A9A;
}

.ifixit-guide-small .ifixit-parts {
   width: 238px;
   height: 206px;
   float: left;
   overflow: auto;
   padding-left: 10px;
}

.ifixit-guide .ifixit-parts h3 {
   margin: 0 !important;
   border: none !important;
}

.ifixit-guide-large .ifixit-parts {
   width: 315px;
   height: 295px;
   float: left;
   overflow: auto;
   padding-left: 10px;
}

.ifixit-guide #ifixit-introHeader {
   padding: 6px 0 0 7px; 
   margin: 0;
}

.ifixit-guide .ifixit-stepTitle,
.ifixit-guide .ifixit-stepTitle a {
   margin: 0 !important;
   color: black;
   line-height: 1.3em;
   border: none !important;
}

.ifixit-guide .ifixit-stepText, .ifixit-guide #ifixit-summary {
   margin-left: 7px;
}

.ifixit-arrowNavRight, .ifixit-arrowNavLeft,
.ifixit-arrowNavRightHover, .ifixit-arrowNavLeftHover {
   width: 40px;
   height: 40px;
   cursor: pointer;
   background-image: url("http://static.ifixit.net/static/images/arrows-120110.jpg");
}

.ifixit-clearer {
   clear:both;
   font-size:0;
   height:0;
   line-height:0;
   margin:0;
   padding:0;
}

.ifixit-arrowNavRight {
   background-position: 40px 0px;
   float: right;
}

.ifixit-arrowNavLeft {
   background-position: 0px 0px;
}

.ifixit-arrowNavRightHover {
   background-position: 40px 38px;
   float: right;
}

.ifixit-arrowNavLeftHover {
   background-position: 0px 38px;
}

.ifixit-guide-small #ifixit-header {
   overflow: auto;
   width: 100%;
}

.ifixit-guide-small #ifixit-stepNumber, .ifixit-guide-small #ifixit-begin {
   float: right;
   margin-top: 12px;
   margin-right: 7px;
   margin-left: 3px;
   height: 18px;
}

.ifixit-guide-small #ifixit-begin {
   cursor: pointer;
}

.ifixit-guide-small #ifixit-navigation {
   width: 179px;
   height 50px;
   float: right;
}

.ifixit-guide-small #ifixit-summary {
   height: 160px;
   margin-top: 10px;
   width: 185px;
   overflow: hidden;
}

.ifixit-guide-large #ifixit-summary {
   height: 254px;
   margin-bottom: 2px;
   margin-top: 20px;
   width: 335px;
}

.ifixit-guide-small #ifixit-stepIntroImage {
   border: 1px solid #9A9A9A;
   margin: 8px 8px 3px;
   padding: 0;
   float: right;
   width: 270px;
   height: 200px;
}

.ifixit-guide-large #ifixit-stepIntroImage {
   border: 1px solid #9A9A9A;
   margin: 10px;
   padding: 0;
   float: right;
}

.ifixit-guide-large .ifixit-stepText {
   width: 350px;
   padding: 0 0 7px 7px;
   float: left;
   margin: 0;
}

.ifixit-guide-small .ifixit-stepText {
   width: 258px;
   padding: 0 15px 7px 7px;
   float: left;
   margin: 0;
   overflow: auto;
   height: 200px;
}

.ifixit-guide-large .ifixit-stepLines {
   overflow: auto;
   height: 242px;
   padding-right: 5px;
   margin: 10px 0;
   position: static;
}

.ifixit-guide-large .ifixit-stepImages {
   float: left;
   width: 306px;
}

.ifixit-guide-large #ifixit-stepImage, 
.ifixit-guide-large #ifixit-stepIntroImage {
   border: 1px solid #9A9A9A;
   height: 225px;
   width: 300px;
}

.ifixit-guide-small .ifixit-stepLines {
   padding-right: 5px;
   padding-left: 5px;
   margin: 10px 10px 0;
   list-style: none outside none;
   width: 95%;
   position: static;
}

.ifixit-guide-small .ifixit-stepImages {
   width: 210px;
   height: 200px;
   float: left;
}

.ifixit-guide-small #ifixit-stepImage {
   border: 1px solid #9A9A9A;
   width: 200px;
   height: 135px;
}

.ifixit-guide-large .ifixit-stepThumb {
   border: 1px solid #9A9A9A;
   float: left;
   height: 72px;
   margin: 4px 4px 4px 0;
   width: 96px;
}

.ifixit-guide-small .ifixit-stepThumb {
   border: 1px solid #9A9A9A;
   margin: 4px 4px 4px 0;
}

.ifixit-guide-small .ifixit-stepThumbs { }

.ifixit-guide .ifixit-line-0,
.ifixit-guide .ifixit-line-1,
.ifixit-guide .ifixit-line-2,
.ifixit-guide .ifixit-line-4 {
   position: relative;
   line-height: 1.5em;
   margin-top: 6px;
}

.ifixit-guide .ifixit-line-0 { margin-left: 0; }
.ifixit-guide .ifixit-line-1 { margin-left: 1.5em; }
.ifixit-guide .ifixit-line-2 { margin-left: 3em; }
.ifixit-guide .ifixit-line-3 { margin-left: 4.5em; }

.ifixit-guide .ifixit-stepLines .ifixit-bullet { 
   background-image: url("http://static.ifixit.net/static/images/guide/bullets.gif");
   background-repeat: no-repeat;
   left: -16px;
   position: absolute;
   display: block;
   top: 3px;
   width: 10px;
   height: 10px;
   margin: 0;
   padding: 0px;
   overflow: hidden;
}

.ifixit-guide .ifixit-bullet-standard       { background-position:  -1px  -1px; }
.ifixit-guide .ifixit-bullet-black          { background-position:  -1px  -1px; }
.ifixit-guide .ifixit-bullet-red            { background-position:  -1px -13px; }
.ifixit-guide .ifixit-bullet-orange         { background-position:  -1px -25px; }
.ifixit-guide .ifixit-bullet-yellow         { background-position:  -1px -37px; }
.ifixit-guide .ifixit-bullet-green          { background-position:  -1px -49px; }
.ifixit-guide .ifixit-bullet-blue           { background-position:  -1px -61px; }
.ifixit-guide .ifixit-bullet-violet         { background-position:  -1px -73px; }
.ifixit-guide .ifixit-bullet-title          { background-position:  -1px -85px; }
.ifixit-guide .ifixit-bullet-inverse        { background-position:  -1px -97px; }

.ifixit-guide .ifixit-bullet-icon_caution   { background-position:  -1px  -1px; }
.ifixit-guide .ifixit-bullet-icon_note      { background-position:  -1px  -1px; }
.ifixit-guide .ifixit-bullet-icon_reminder  { background-position:  -1px  -1px; }

.ifixit-guide .ifixit-icon {
   width: 50px;
   height: 50px;
   background-image: url("http://static.ifixit.net/static/images/guide/bullets.gif");
   background-repeat: no-repeat;
   float: right;
   margin: 3px;
}

.ifixit-guide .ifixit-icon_caution      {background-position: -1px -109px;}
.ifixit-guide .ifixit-icon_note         {background-position: -1px -161px;}
.ifixit-guide .ifixit-icon_reminder     {background-position: -1px -213px;}

.ifixit-guide a.ifixit-buttonLink:visited {
   color: white;
}

.ifixit-guide #ifixit-logo {
   float:left;
   margin: 5px 10px 0;
   padding: 0;
   border: none;
}

.ifixit-guide-small #ifixit-logo {
   background-image: url('http://static.ifixit.net/static/images/iFixit_logo.png');
   background-repeat: no-repeat;
   height: 30px;
   width: 80px;
}

.ifixit-guide-small #ifixit-footer {
   display: none;
}

.ifixit-guide-large #ifixit-header {
   display: none;
}

.ifixit-guide #ifixit-footer {
   clear: both;
   background-color: #3361AD;
   height: 30px;
   margin: 0;
   color: #FFF;
}

.ifixit-guide-large #ifixit-parts-link {
   padding: 9px 0;
   text-align: center;
   cursor: pointer;
   width: 100px;
   float: right;
   margin: 0 35px;
   color: white;
   font-size: 0.8em;
}

.ifixit-guide-small #ifixit-parts-link {
   text-align: center;
   cursor: pointer;
   width: 465px;
   height: 15px;
   padding: 10px;
   margin: 3px 2px;
   border: 1px solid #c6caca;
   float: right;
}

.ifixit-guide-small #ifixit-parts-link:hover {
   border: 1px solid black;
   background-color: #ecf8fe;
}

.ifixit-guide a.ifixit-buttonMuted {
   background-color: #668C9D !important;
   color: white;
   text-decoration: none;
}

.ifixit-guide a.ifixit-buttonMuted:hover {
   background-color: #3361AD !important;
   color: white;
   text-decoration: none;
}

.ifixit-guide a.ifixit-buttonLink:hover {
   background-color: #EE6600 ;
   color: white;
   text-decoration: none;
}

.ifixit-guide a.ifixit-buttonLink, .ifixit-guide a.ifixit-buttonLink:visited {
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   background-color: #FEBC3E;
   border: medium none;
   color: white;
   cursor: pointer;
   display: block;
   float: right;
   font-size: 0.8em;
   font-weight: bold;
   line-height: 0.7em;
   margin: 6px;
   padding: 4px 6px 5px;
   text-align: center;
   text-decoration: none;
   width: 76px;
}

/**
 * Site customization stuff.
 */